services:

    # @todo : renommer les identifiants de services pour matcher les namespaces

    # Service permettant de charger et valider les fichiers de configuration
    comptes_bundle.configuration.loader:
        class: ComptesBundle\Service\ConfigurationLoader
        arguments:
            - @service_container

    # Fournisseur de statistiques
    comptes_bundle.stats.provider:
        class: ComptesBundle\Service\StatsProvider
        arguments:
            - @doctrine
            - @comptes_bundle.configuration.loader

    # Service d'import : catégorisation automatique des mouvements
    comptes_bundle.mouvement.categorizer:
        class: ComptesBundle\Service\MouvementCategorizer
        arguments:
            - @doctrine.orm.entity_manager

    # Service abstrait d'import de mouvements
    comptes_bundle.import.mouvements:
        abstract: true
        arguments:
            - @doctrine.orm.entity_manager
            - @comptes_bundle.configuration.loader
            - @comptes_bundle.mouvement.categorizer

    # Service d'import de mouvements : handler Excel pour la banque CIC
    comptes_bundle.import.mouvements.cic.excel:
        class: ComptesBundle\Service\ImportHandler\CICExcelMouvementsImportHandler
        parent: comptes_bundle.import.mouvements

    # Service d'import de mouvements : handler Excel pour la banque Crédit Mutuel
    comptes_bundle.import.mouvements.cm.excel:
        class: ComptesBundle\Service\ImportHandler\CMExcelMouvementsImportHandler
        parent: comptes_bundle.import.mouvements

    # Service d'import de mouvements : handler CSV pour la banque CIC
    comptes_bundle.import.mouvements.cic.csv:
        class: ComptesBundle\Service\ImportHandler\CICCSVMouvementsImportHandler
        parent: comptes_bundle.import.mouvements

    # Service d'import de mouvements : handler CSV pour la banque Crédit Mutuel
    comptes_bundle.import.mouvements.cm.csv:
        class: ComptesBundle\Service\ImportHandler\CMCSVMouvementsImportHandler
        parent: comptes_bundle.import.mouvements

    # Service d'import de mouvements : handler CSV pour la banque Caisse d'Épargne
    comptes_bundle.import.mouvements.caissedepargne.csv:
        class: ComptesBundle\Service\ImportHandler\CaisseEpargneCSVMouvementsImportHandler
        parent: comptes_bundle.import.mouvements

    # Service abstrait d'import de pleins
    comptes_bundle.import.pleins:
        abstract: true
        arguments:
            - @doctrine.orm.entity_manager
            - @comptes_bundle.configuration.loader

    # Service d'import de pleins : handler XML pour l'application MyCars
    comptes_bundle.import.pleins.mycars.xml:
        class: ComptesBundle\Service\ImportHandler\MyCarsXMLPleinsImportHandler
        parent: comptes_bundle.import.pleins

    # Service d'import de pleins : handler CSV pour l'application MyCars
    comptes_bundle.import.pleins.mycars.csv:
        class: ComptesBundle\Service\ImportHandler\MyCarsCSVPleinsImportHandler
        parent: comptes_bundle.import.pleins
